numpy==1.17.3
dlib==19.15.0
pathlib==1.0.1
Pillow==6.2.0
tqdm==4.25.0
scikit-learn==0.21.3
matplotlib==3.1.1
requests
jsonschema==3.0.2
dill==0.2.8.2
google-api-python-client==1.7.3
google-auth-httplib2==0.0.3
google-cloud-storage==1.10.0
PyYAML==5.1.2
freezegun==0.3.12
flask-restful==0.3.7
Flask==1.1.1
Flask-Cors==3.0.8
pandas==0.23.3
promise==2.2.1
redis==3.3.11
slackclient==1.3.0
Werkzeug==0.16.0
boto3==1.9.86
boto==2.49.0
python-jose==3.0.1
python-keycloak==0.17.6
tabulate==0.8.3
docker==4.0.2